{% extends 'main.html' %}
{% block content %}

<a href="{% url 'create-subject' %}" class="addlink">
    Add subject
</a>
  
<h1> List of Subjects</h1>
<table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
      <tr>
        <td>
          <a href="{% url 'subject' subject.id %}">
            {{subject.name}}
          </a>
        </td>
        <td>
          <div class="action-buttons">
            <a href="{% url 'update-subject' subject.id %}" class="edit-link">Edit</a>
            <a href="{% url 'delete-subject' subject.id %}" class="delete-link">Delete</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}