<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineQuiz</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/subject.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/login_register.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <!--added by ronald-->
        <!--sources: https://docs.djangoproject.com/en/5.0/ref/contrib/messages/--> 
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        
        {% endblock %}
    </div>
  
</body>
</html>