<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subjects</title>
  <link rel="stylesheet" href="subject.css">
</head>
<body>
  <h1>Subjects</h1>
  <form><fieldset>
    <legend>Choose one subject to continue</legend>
  <div class="subjects-container">
    <div class="subject1">
      <h2>Math</h2>
      <button type="submit" name="subject1" value="Math">Select</button>
    </div>
    <div class="subject2">
      <h2>Science</h2>
      <button type="submit" name="subject2" value="Science">Select</button>
    </div>
    <div class="subject3">
      <h2>History</h2>
      <button type="submit" name="subject3" value="History">Select</button>
    </div>
  </div>
</fieldset>
</form>
  <form action="submit" method="post"> </form>
</body>
</html>

